name: Lint

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    types: [opened, synchronize]

jobs:
  lint:
    runs-on: ubuntu-latest

    outputs:
      should_deploy: ${{ steps.skip_check.outputs.should_deploy }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Run lint
        run: npm run lint

      - name: Test
        run: npm test

      - name: Build
        run: npm run build

      - name: Install Playwright browsers
        run: npx playwright install --with-deps

      - name: e2e tests
        run: npm run test:e2e

      - name: Check 
        id: skip_check
        run: |
          echo "Commit messages:"
          echo '${{ toJson(github.event.commits.*.message) }}'

          if [[ "${{ github.event_name }}" != "push" ]]; then
            echo "should_deploy=true" >> "$GITHUB_OUTPUT"
            exit 0
          fi

          ALL_MSGS="${{ join(github.event.commits.*.message, ' ') }}"
          if echo "$ALL_MSGS" | grep -q "#skip"; then
            echo "should_deploy=false" >> "$GITHUB_OUTPUT"
          else
            echo "should_deploy=true" >> "$GITHUB_OUTPUT"
          fi

      - name: Trigger Render deploy
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' && steps.skip_check.outputs.should_deploy == 'true' }}
        run: curl -X POST "${{ secrets.RENDER_DEPLOY_HOOK }}"


  tag_release:
    needs: [lint]
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' && needs.lint.outputs.should_deploy == 'true'  }}
    steps:
      - name: Checkout code (full history for tags)
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Bump version and push tag
        uses: anothrNick/github-tag-action@1.75.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BUMP: patch


